$error-color: red;
$background-color-modal: #337AB7;
$background-color-base: white;
$border-modal:#BFE2FF;
$input-border:#2D6B9F;
$button-color-background: green;
$button-color-hover: mediumspringgreen;
